@media only screen and (max-width: 1038px) {
    nav ul {
        flex-direction: column;
        padding-left: 0rem;
    }
     nav {
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 20rem;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 6rem;
    }
    .v-class-resp{
        opacity: 0;
    }
    .hero {
        height: auto;
        padding: 13rem 0;
    }
    .hero-main {
        flex-direction: column-reverse;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
    .content {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        text-align: center;
    }
    .skills {
        flex-direction: column;
        position: static;
    }
    .skills p {
        border-bottom: 2px solid rgba(45,46,50,.5);
        border-right: none;
        margin-bottom: 3rem;
        margin-right: 0;
        padding-bottom: 1rem;
        padding-right: 0;
    }
    .hero-text img {
        right: 3rem;
    }
    .hero-text span {
        gap: 1.6rem;
        justify-content: center;
        margin-bottom: 4rem;
        margin-top: -2rem;
    }
    .hero-text p {
        margin-bottom: 5rem;
    }
    .logo{
        left: 4rem;
    position: absolute;
    }
    .about {
        padding: 8rem 0;
    }
    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .img-side_main-img {
        margin-bottom: 3.5rem;
    }
    .text-side {
        margin: 0 auto;
        max-width: 35rem;
    }
    .projects {
        padding: 8rem 0;
    }
    .project-content {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .project-text-side {
        margin: 0 auto;
        max-width: 35rem;
    }
    .project-container{
        padding: 8rem 2rem;
    }
}